name: Deploy Portfolio
on:
  push:
    branches: [main] # or 'master' if that's your branch name
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v4

      - name: Install and Build 
        run: |
          npm install
          npm run build

      - name: Deploy 
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # The folder Vite creates
          branch: gh-pages # Where the live site lives
